<app-messages></app-messages>
<div *ngIf="actor">

  <!-- Page Heading/Breadcrumbs -->
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header"><a [routerLink]="['/actor/' +actor.uid]">{{actor.name}}</a><span *ngIf="actor.group_members">
            <span *ngFor="let member of actor.group_members">, <a [routerLink]="['/actor/' +member.uid]">{{member.name}}</a></span>
              
          </span></h1>

 <!-- <small>Subheading</small> -->
<ol class="breadcrumb">
    <li><a href="/">Home</a>
    </li>
    <li class="active">Actor Details</li>
</ol>
</div>
</div>
<!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
          <mat-tab-group mat-align-tabs="center" [disableRipple]=true>
            <mat-tab label="Co-actors" >

            <div class="img-portfolio">
              <a href="portfolio-item.html">
                  
              </a>
              
              <h3>
                  Co-actors
              </h3>
    Filter by name: <input id="coactors" [(ngModel)]="searchTerm">
  <ul class="actors">

    <li *ngFor="let coactor of actor.coactors  | searchFilter: searchTerm | paginate: { itemsPerPage: numPerPage, currentPage: page}">
      <a [routerLink]="['/actor/' +coactor.uid]" [queryParams]="{ck: coactor.children_known}">
        <span class="badge" *ngIf="coactor.children_known">Info known</span> {{coactor.name}}</a> <a class="group-button" routerLink="/actor/{{actor.uid}}" [queryParams]="{ca: queryString + coactor.uid}">{{groupButton}}</a>
  </li>
  </ul>
  </div>
  <hr/>
<pagination-controls (pageChange)="page = $event"></pagination-controls>

</mat-tab>

<mat-tab label="Titles">  
<div class="img-portfolio" id="titles">
    <a href="portfolio-item.html">

    </a>
    <h3>
        Acted in
    </h3>

  <ul class="actors">

  <li *ngFor="let title of actor.titles">
    <a routerLink="/title/{{title.uid}}" [queryParams]="{ck: title.children_known}">
      <span class="badge" *ngIf="title.children_known">Info known</span> {{title.title}} ({{title.released}})
  </a>
</li>
</ul>
</div>
</mat-tab>
</mat-tab-group>
</div>
<!-- /.row -->


<!-- /.row -->