<div *ngIf="actor">

    <h2>{{actor.name | uppercase}} Details</h2>
    <div><span>id: </span>{{actor.uid}}</div>
    <div>
      <label>name:
        <input [(ngModel)]="actor.name" placeholder="name"/>
      </label>
    </div>
  
  <!-- <a routerLink="/actor/{{actor.uid}}">
    <span class="badge">{{actor.uid}}</span> {{actor.name}}
  </a> -->
</div>
  <a routerLink="/actor/na5411">
    <span class="badge">na5411</span> Sanaa Lathan
  </a> <div style="display: inline-block;border: 1px solid black; "><a style="text-decoration: none;" routerLink="/actor/na5411">
    Make group with
  </a> </div>


  <li *ngFor="let actor of [{'uid': 'na5411', 'name': 'Sanaa Lathan'}]">
      <a routerLink="/actor/{{actor.uid}}">
  <span class="badge">{{actor.uid}}</span> {{actor.name}}
      </a>
  </li>


<a routerLink="/actors">
  Actors!
      </a>

<a routerLink="/actor/na5411/?k=9">Add params</a>
<!-- <a routerLink="/actor/na5411?s=9&s=4">Add dup params</a> -->
<a [routerLink]="['user']" [queryParams]="{id: 2}">What's this?</a>
<a [routerLink]="['/actor/na5411']" [queryParams]="{k: 2}">What's this? 2</a>
<a [routerLink]="['/actor/na5411']" [queryParams]="{ca: 'na52139'}">Add to group</a>

<div *ngIf="actor">
<ul class="actors">

        <li *ngFor="let title of actor.titles">
          {{title.title}}
          {{title}}
  </li>
</ul>
</div>