<div *ngIf="actor">

    <h2>{{actor.name | uppercase}} Details</h2>
    <div><span>id: </span>{{actor.uid}}</div>
    <div>
      <label>name:
        <input [(ngModel)]="actor.name" placeholder="name"/>
      </label>
    </div>

</div>
  <a routerLink="/actor/na5411">
    <span class="badge">na5411</span> Sanaa Lathan
  </a> <div style="display: inline-block;border: 1px solid black; "><a style="text-decoration: none;" routerLink="/actor/na5411">
    Make group with
  </a> </div>

<a [routerLink]="['/actor/na5411']" [queryParams]="{ca: 'na52139'}">Add to group</a>

<div *ngIf="actor">
  <ul class="actors">

    <li *ngFor="let coactor of actor.coactors">
      <a [routerLink]="['/actor/' +coactor.uid]">{{coactor.name}}</a> <a routerLink="/actor/{{actor.uid}}" [queryParams]="{ca: queryString + coactor.uid}">Add to group</a>
      <!-- {{coactor}} -->
</li>
</ul>

<ul class="actors">

  <li *ngFor="let title of actor.titles">
    {{title.title}}
</li>
</ul>
</div>