
  
<!-- <app-actors></app-actors> -->

<!-- Navigation -->
<!-- <div>my my name</div>
<input #myname  value="John Doe">
<div  id='yes'></div> -->

<!-- <input #phone placeholder="phone number" />
<button (click)="callPhone(phone.value)">Call</button> -->

<nav #theNavbar class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Have We Worked Together?</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li [className]="routeSegment == 'actor'|| routeSegment == 'actors'  ? 'active' : ''">
                    <a routerLink="/actors">Actors</a> 
                </li>
                <li [className]="routeSegment == 'title' || routeSegment == 'titles'? 'active' : ''">
                    <a routerLink="/titles">Titles</a>
                </li>
                <li [className]="routeSegment == 'about' ? 'active' : ''">
                    <a href="about.html">About the Site</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<div #navbarOffset></div>
<!-- </head><body> -->
    <!-- Page Content -->
<div class="container">
<div id="searchBox">
    <div>
<!-- <h1>Have We Worked Together?</h1> -->

<p><input #searchTerm type="text" /></p>
<button class="clear" 
            (click)="getActors(searchTerm.value)">Search actors</button>
<button class="clear" 
            (click)="getTitles(searchTerm.value)">Search titles</button>
        </div>
</div>


<router-outlet></router-outlet>

<hr>

<!-- {% block pagination %}{% endblock %} -->


<hr>

<!-- Footer -->
<footer>
    <div class="row">
        <div class="col-lg-12">
            <p>Copyright &copy; Alisa Modeste, 2021</p>
            <p>This product uses the TMDb API but is not endorsed or certified by TMDb.</p>
        </div>
    </div>
  </footer>
</div>

