.flexing {
    display:flex;
    justify-content: center;
}

.group-link {
    border:1px solid black;
    display: inline-block;
}
a {
    text-decoration: none;
}

#titles {
    margin-left: 50%;
}

.navbar-inverse {
    background-color: #d18686;
    border-color: #ce6868;
    color: #000;
}

.navbar-inverse .navbar-brand {
    color: #000;
}

.navbar-inverse .navbar-nav>li>a {
    color: #000;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #080808;
}

#searchBox {
    display: flex;
    justify-content: flex-end;
}

.group-button {
    border: 1px black solid;
    margin: 10px;
    padding: 3px
}

ul.actors, ul.titles > li {
    margin: 10;
    list-style: none;
}

body{
    font-family: futura-pt,sans-serif;
    letter-spacing: .9px;
    font-weight: 400;
    line-height: 1.8;
}
#homepage-banner {
    height: 300px; 
    border-radius: 10px; 
    margin: auto;
}

@media (max-width:1024px){
    .elementor-row{
        flex-wrap:wrap
    }
}

@media (min-width:768px){
    .elementor-column{
        width:50%
    }
    #homepage-banner {
        width: 90%;
    }
}

@media (max-width: 767px){
    .elementor-column {
        width: 100%;
    }
    #homepage-banner {
        width: 100%;
    }
}

.elementor-widget-wrap{
    position:relative;
    width:100%;
    flex-wrap:wrap;
    align-content:flex-start
}

.elementor-widget-container {
    padding: 10px 10px 10px 10px;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-radius: 8px 8px 8px 8px;
}

.elementor-column-wrap {
    padding: 10px;
} 

.elementor-row {
    width: 100%;
    display: flex;
}

h4 {
    text-align: center;
}