<html><head>
    <style>
        .group-link {
            border:1px solid black;
            display: inline-block;
        }
    </style>
</head><body>

<h1>Sanaa Lathan, Lyriq Bent</h1>

<p>Co-acted with</p>
<ul>
    <li>Ricky Whittle <div class="group-link">Add to group</div></li>
    <li>Lynn Whitfield <div class="group-link">Add to group</div></li>
    <li>Ernie Hudson <div class="group-link">Add to group</div></li>
    <li>Daria Johns <div class="group-link">Add to group</div></li>
    <li>Camille Guaty <div class="group-link">Add to group</div></li>
    <li>Brittany S. Hall <div class="group-link">Add to group</div></li>
    <li>Terry Serpico <div class="group-link">Add to group</div></li>
    <li>Jen Harper <div class="group-link">Add to group</div></li>
    <li>Danielle Lyn <div class="group-link">Add to group</div></li>
    <li>George Wallace <div class="group-link">Add to group</div></li>
    <li>John Salley <div class="group-link">Add to group</div></li>
    <li>RonReaco Lee <div class="group-link">Add to group</div></li>
    <li>Bo Yokely <div class="group-link">Add to group</div></li>
</ul>

</body></html>