<html><head>
    <style>
        .group-link {
            border:1px solid black;
            display: inline-block;
        }
        a {
            text-decoration: none;
        }

        .coactors, .titles {
            float: left;
        }

        .coactors2, .titles2 {
            /* float: left; */
            margin: 20px;
        }

        .flexing {
            display:flex;
            justify-content: center;
        }
    </style>
</head><body>

<h1>Sanaa Lathan</h1>

<div class="coactors">
<p>Co-acted with</p>
<ul>
    <li>Ricky Whittle<div class="group-link"> <a href='actor_group.html'>Add to group</a></div></li>
    <li>Lyriq Bent <div class="group-link">Add to group</div></li>
    <li>Lynn Whitfield <div class="group-link">Add to group</div></li>
    <li>Ernie Hudson <div class="group-link">Add to group</div></li>
    <li>Daria Johns <div class="group-link">Add to group</div></li>
    <li>Camille Guaty <div class="group-link">Add to group</div></li>
    <li>Brittany S. Hall <div class="group-link">Add to group</div></li>
    <li>Terry Serpico <div class="group-link">Add to group</div></li>
    <li>Jen Harper <div class="group-link">Add to group</div></li>
    <li>Danielle Lyn <div class="group-link">Add to group</div></li>
    <li>George Wallace <div class="group-link">Add to group</div></li>
    <li>John Salley <div class="group-link">Add to group</div></li>
    <li>RonReaco Lee <div class="group-link">Add to group</div></li>
    <li>Bo Yokely <div class="group-link">Add to group</div></li>
</ul>
</div>

<div class="titles">
    <p>Acted in</p>
    <ul>
        <li>Nappily Ever After (2008)</li>
    </ul>
</div>

<div style="clear:both"></div>

<div class="flexing">
    <div class="coactors2">
    <p>Co-acted with</p>
    <ul>
        <li>Ricky Whittle<div class="group-link"> <a href='actor_group.html'>Make a group with</a></div></li>
        <li>Lyriq Bent <div class="group-link">Add to group</div></li>
        <li>Lynn Whitfield <div class="group-link">Add to group</div></li>
        <li>Ernie Hudson <div class="group-link">Add to group</div></li>
        <li>Daria Johns <div class="group-link">Add to group</div></li>
        <li>Camille Guaty <div class="group-link">Add to group</div></li>
        <li>Brittany S. Hall <div class="group-link">Add to group</div></li>
        <li>Terry Serpico <div class="group-link">Add to group</div></li>
        <li>Jen Harper <div class="group-link">Add to group</div></li>
        <li>Danielle Lyn <div class="group-link">Add to group</div></li>
        <li>George Wallace <div class="group-link">Add to group</div></li>
        <li>John Salley <div class="group-link">Add to group</div></li>
        <li>RonReaco Lee <div class="group-link">Add to group</div></li>
        <li>Bo Yokely <div class="group-link">Add to group</div></li>
    </ul>
    </div>
    
    <div class="titles2">
        <p>Acted in</p>
        <ul>
            <li>Nappily Ever After (2008)</li>
        </ul>
    </div>
</div>

</body></html>