<html><head>
    <style>
        .group-link {
            border:1px solid black;
            display: inline-block;
        }
        a {
            text-decoration: none;
        }

        .coactors, .titles {
            float: left;
        }

        .coactors2, .titles2 {
            /* float: left; */
            margin: 20px;
        }

        .flexing {
            display:flex;
            justify-content: center;
        }
    </style>
</head><body>

<h1>Sanaa Lathan</h1>

<!-- <div class="coactors">
<p>Co-acted with</p>
<ul>
<!-- { for user in users } ->
{% for actor in ["Ricky Whittle", "Lyriq Bent", "Lynn Whitfield", "Ernie Hudson", "Daria Johns",
    "Camille Guaty", "Brittany S. Hall", "Terry Serpico", "Jen Harper", "Danielle Lyn", "George Wallace", 
    "John Salley", "RonReaco Lee", "Bo Yokely"] %}
    <!-- { for actor in actors %} -->
    <!-- <li>{ actor.name }}<div class="group-link"> <a href="{ user.url }}">Add to group</a></div></li> ->
    
    <li>{{ actor }} <div class="group-link"> <a href="actor_group.html">Add to group</a></div></li>
{% endfor %}
</ul>
</div> 

<div class="titles">
    <p>Acted in</p>
    <ul>
        <li>Nappily Ever After (2008)</li>
    </ul>
</div> -->

<div style="clear:both"></div>

<div class="flexing">
    <div class="coactors2">
    <p>Co-acted with</p>
    <ul>
    {% for actor in actors %}
        <li>{{ actor }} <div class="group-link"> <a href="actor_group.html">Make a group with</a></div></li>
    {% endfor %}
    </ul>
    </div>
    
    <div class="titles2">
        <p>Acted in</p>
        <ul>
            <li>Nappily Ever After (2008)</li>
        </ul>
    </div>
</div>

</body></html>