<html><head>
    <style>
        .group-link {
            border:1px solid black;
            display: inline-block;
        }
        a {
            text-decoration: none;
        }

        .coactors, .titles {
            float: left;
        }

        .coactors2, .titles2 {
            /* float: left; */
            margin: 20px;
        }

        .flexing {
            display:flex;
            justify-content: center;
        }
    </style>
</head><body>

<h1>Have We Worked Together?</h1>

<p><input type="text" /></p>


</body></html>