<app-messages></app-messages>
<div *ngIf="title">

  <!-- Page Heading/Breadcrumbs -->
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">{{title.title}} 
            <span *ngIf="title.released"> ({{title.released}})</span></h1>

            
<ol class="breadcrumb">
    <li><a href="/">Home</a>
    </li>
    <li class="active">Title Details</li>
</ol>
</div>
</div>
<!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="img-portfolio">
              <a href="portfolio-item.html">
              </a>
              
              <h3>
                  Cast
              </h3>
  <ul class="actors">

    <li *ngFor="let actor of title.cast">
      <a [routerLink]="['/actor/' +actor.uid]" [queryParams]="{ck: actor.children_known}">
        <span class="badge" *ngIf="actor.children_known">Info known</span> {{actor.name}}</a>
  </li>
  </ul>
  </div>

</div>
<!-- /.row -->


<!-- /.row -->
